# IDE
/.idea

# Software
svg-inkscape

# PDF
*.pdf
!Preview.pdf
!/documents/**/*.pdf

# Latex intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.log
*.ist
*.glo
*.lof
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.lol
*.loa
*.acn
*.ptc
*.ind